.title {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
}
.add_grid {
  grid-template-columns: 1fr 1fr   ;
  grid-column-gap: 20px;
  padding: 10px;
  display: grid;
  margin: 0 auto;
}
.input {
  width: 100%;
}

/* the conpoment container that the products are insidet */
@media (min-width: 1024px) {
    .component_container {
      background-color: #fff;
      width: 80%;
      min-width: 20rem;
      height: 44rem;
      border-radius: 8px;
      z-index: 3;
      grid-column: 2 / span 10;
      grid-row: 1;
      margin-top: 6rem;
      margin-left: 20px;
     overflow: hidden;
     overflow: scroll;
    }
  }
  
  @media (max-width: 1024px) {
    .component_container {
      overflow: scroll;
      overflow: hidden;
      height: 100vh;
      margin-top: 40px;
      text-align: center;
    }
  }

  