.dashboardHeader {
  color: 252525;
  display: flex;
  justify-content: flex-end;
  border-radius: 8px;
  z-index: 3;
  margin-right: 15%;
 margin-top: 2rem;
}
.dash_info {
 display: flex;
}
.userName {
  margin-right: 30px;
}
.header_avatar {
  max-width: 50px;
  border-radius: 200px;
}
.logo {
  margin-left: 5rem;
  margin-right: auto;
  font-size: 34px;
  line-height: 30px;
  font-weight: 500;
 
}
.log_out:hover {
  font-weight: 900;
}

/* mobile */
@media (max-width: 1025px) {
  .dashboardHeader {
    display: none;
  }
}
