.dashboard_bg {
  background-color: #f4f5f5;
  height: auto;
  color: #252525;
}
@media (max-width: 1024px) {
  .dashboard_bg {
    background-color: #fff;
    overflow: scroll;
    min-height: 100vh;
  }
}
@media (min-width: 1025px) {
  .dashboard_grid {
    display: grid;
    max-height: 200vh;
    min-height: 120vh;
  }
}
