.dashboard_bg {
  height: auto;
  color: #252525;
  overflow: hidden;
  background: #F4F5F5
}
@media (max-width: 1024px) {
  .dashboard_bg {
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
  }
  .dashboardHeader {
    display: none;
  }
}
@media (min-width: 1025px) {
  .dashboard_bg {
    display: grid;
    justify-items: center;
    place-self: center;
    align-self: center;
  }
  .dashboard_grid {
    display: grid;
    min-height: 100vh;
  }
  .dashboardHeader {
    padding-top: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1120px;
    
  }
  .logo {
    margin-right: auto;
    font-size: 34px;
    line-height: 30px;
    font-weight: 500;
  }
  .log_out {
    background: transparent;
    font-size: 16px;
  }
  .log_out:hover {
    font-weight: 900;
  }
}

