.dashboardHeader {
  max-width: 1400px;
  height: 60px;
  color: 252525;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align:center;
  text-decoration: none;
  list-style: none;
  padding-top: 3rem;
  margin-bottom: 1rem;
}
.userName{
    margin-right: 30px;
}
.logo{
  margin-right: auto;
  font-size: 34px;
  line-height: 30px;
  font-weight: 500;
  margin-left: 3%;
}
.log_out:hover {
font-weight: 900;
}

/* mobile */
@media (max-width: 1025px) {
  .dashboardHeader {
    display: none;
  }}
