/* styles that are both relavent for mobile and desktop */
.title {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  padding: 10px;
  font-weight: 500;
  text-align: left;
  font-size: 20px;
}
.product {
  border-bottom: 1px solid #c2c2c2;
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.no_product_text {
  font-size: 24px;
  font-weight: 400;
  color: #3e3e3e;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 3rem;
}
.product_button_cancel {
  background-color: #bd4a4a;
    border: none;
    color: #fff;
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 0;
    display: block;
    overflow: hidden;
    position: relative;
    transition: all 1s;
    margin-right: 150px;
    float: right;
}

/* desktop */
@media (min-width: 1024px) {
  .component_container {
    background-color: #fff;
    width: 900px;
    height: 40rem;
    border-radius: 8px;
    z-index: 3;
    grid-column: 2 / span 10;
    grid-row: 1;
    margin-top: 6rem;
    margin-left: 20px;
    overflow: scroll;
  }
  .product_button_cancel {
    background-color: #bd4a4a;
    /* margin-left: auto; */
    margin-right: 76px;
    float: right;
    width: 30%;
  }
  /* hide scrollbars */
  .component_container::-webkit-scrollbar {
    display: none;
  }
  .header_box {
    grid-template-columns: 140px 1.5fr 1fr 1fr 1fr 0.5fr;
    background-color: #f4f5f5;
    grid-column-gap: 20px;
    padding: 10px;
    border-radius: 8px;
    width: 90%;
    display: grid;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  .each_product {
    grid-template-columns: 100px 1.5fr 1fr 1fr 1fr 0.5fr;
    grid-column-gap: 20px;
    padding: 10px;
    display: grid;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
  }
  /* each "string" inside 1 product */
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .product_img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
  }
  .product_button_edit {
    background: #252525;
    width: 100%;
    font-size: 18px;
    padding: 2px 16px;
    border-radius: 10px;
    color: #fff;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
  }
  .product_button_edit:hover {
    background: #3e3e3e;
  }
  .product_button_delete {
    width: 30px;
    height: 30px;
    float: right;
    background-color: transparent;
    border: none;
  }
  .product_button_delete:hover {
    color: rgb(225, 29, 29);
  }
}

/* mobile */
@media (max-width: 1024px) {
  .component_container {
    height: auto;
    text-align: center;
    background-color: #fff;
  }
  .header_box {
    display: none;
  }
  .title {
    display: flex;
    justify-content: center;
    padding: 5px 20px 5px 20px;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 30px;
    font-size: 20px;
    background-color: #f4f5f5;
  }
  .product_img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    grid-column: 1;
    margin-right: 10px;
    justify-self: center;
    /* grid-row: 3 /3; */
  }
  .each_product {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 30px 40px;
    grid-auto-flow: column;
    grid-column-gap: 5px;
    padding: 5px;
    display: grid;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 16px;
  }
  .product_name {
    grid-column: 2;
    grid-row: 1/ 3;
    text-align: left;
    font-size: 14px;
  }
  .product_price {
    grid-column: 2;
    grid-row: 2/ 3;
    margin-top: auto;
    margin-bottom: 0;
    text-align: left;
    font-size: 14px;
  }
  .product_id {
    grid-column: 2;
    grid-row: 3 / 3;
    margin-top: auto;
    margin-bottom: 0;
    text-align: left;
    font-size: 14px;
  }
  .product_button_edit {
    grid-column: 3;
    grid-row: 3 / 3;
    background: #252525;
    font-size: 14px;
    padding: 2px 16px;
    border-radius: 10px;
    color: #fff;
    height: 40px;
    cursor: pointer;
    max-width: 10rem;
    text-align: center;
  }
  .product_button_delete {
    grid-column: 4;
    grid-row: 3 / 3;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
  }
}
