/* mobile first */
.component_container {
  margin: 0 auto;
  height: 100vh;
  margin-top: 40px;
  text-align: center;
  background: #fff;
}
.title {
  display: flex;
  justify-content: center;
  padding: 5px 20px 5px 20px;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 30px;
  font-size: 20px;
  background-color: #f4f5f5;
  margin-bottom: 3rem;
}
.store_grid {
  color: #252525;
  display: grid;
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll;
}
.logo_grid {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.user_info_grid {
  justify-self: center;
  font-size: 18px;
  display: grid;
  grid-template-rows: auto;
  row-gap: 6%;
  grid-auto-flow: row;
}
.user_logo_img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
}
.user_name {
  grid-row: 1;
}
.user_bio {
  grid-row: 2;
}
.user_url {
  grid-row: 3;
}
.user_hlekkur {
  grid-row: 4;
}
.user_merch_linkur {
  background: transparent;
  grid-row: 5;
  font-size: 18px;
}
.store_button_change {
  margin: 0 auto;
  grid-row: 6;
  background-color: #252525;
  border: none;
  color: #fff;
  padding: 8px;
  width: 300px;
  border-radius: 8px;
  font-size: 20px;
}

/* desktop */
@media (min-width: 1025px) {
  .component_container {
    width: 900px;
    height: 40rem;
    border-radius: 8px;
    z-index: 3;
    grid-column: 2 / span 10;
    grid-row: 1;
    margin-top: 6rem;
    overflow: hidden;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 20px;
  }
  .title {
    padding: 20px;
    background: transparent;
  }
}

/* ---- edit ---- */
.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #9f9f9f;
  line-height: 36px;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #5f5f5f;
  outline: none;
  padding-left: 10px;
  resize: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.edit_label {
  color: #252525;
  font-size: 18px;
}
.store_button_cancel {
  background-color: #808080;
  border: none;
  color: #fff;
  padding: 8px;
  width: 300px;
  border-radius: 8px;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: 3rem;
  justify-self: left;
}
.store_button_confirm {
  background-color: #252525;
  border: none;
  color: #fff;
  padding: 8px;
  width: 300px;
  border-radius: 8px;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: 3rem;
}
