/* mobile first */
.store_grid {
  color: #252525;
  display: grid;
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
.logo_grid {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.user_info_grid {
  margin-top: 30px;
  justify-self: center;
  font-size: 18px;
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 20px;
  grid-auto-flow: row;
  text-align: center;
}
.user_logo_img {
  margin-top: 2rem;
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
}
.user_name {
  grid-row: 1;
  font-weight: 900;
}
.user_bio {
  grid-row: 2;
}
.user_url {
  grid-row: 3;
  font-size: 16px;
}
.user_hlekkur {
  grid-row: 4;
  font-style: italic;
}
.user_merch_linkur {
  background: transparent;
  grid-row: 5;
  font-size: 18px;
}
.store_button_change {
  margin: 0 auto;
  margin-top: 20px;
  grid-row: 6;
  background-color: #252525;
  border: none;
  color: #fff;
  padding: 8px;
  width: 300px;
  border-radius: 8px;
  font-size: 20px;
}

/* desktop */
@media (min-width: 1025px) {
  .store_grid {
    color: #252525;
    display: grid;
    grid-template-rows: auto auto;
    text-align: left;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .logo_grid {
    grid-row: 1;
    justify-content: center;
  }
  .user_info_grid {
    grid-row: 2;
    justify-self: center;
    font-size: 18px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;
  }
  .user_logo_img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 1rem;
  }
  .store_button_change {
    margin-top: 30px;
  }
}

/* ---- edit ---- */
.store_edit_grid {
  display: grid;
  grid-template-rows: auto;
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
}
.user_info_grid_edit {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 20px;
  margin-bottom: 30px;
}
.input {
  width: 100%;
  background-color: #f4f5f5;
  border: none;
  line-height: 36px;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #5f5f5f;
  outline: none;
  padding-left: 10px;
  resize: none;
}
.edit_label {
  color: #252525;
  font-size: 16px;
}
.store_buttons_edit {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.store_button_cancel {
  background-color: #808080;
  border: none;
  color: #fff;
  padding: 8px;
  width: 80%;
  border-radius: 8px;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: 3rem;
  justify-self: center;
}
.store_button_confirm {
  background-color: #252525;
  border: none;
  color: #fff;
  padding: 8px;
  width: 80%;
  border-radius: 8px;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: 3rem;
  justify-self: center;
}
.input_store_link {
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 180px;
  max-width: 100%;
  background-color: #f4f5f5;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #5f5f5f;
  outline: none;
  padding-left: 10px;
  resize: none;
}
.input_store_link_name {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f4f5f5;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #5f5f5f;
  outline: none;
  padding-left: 10px;
  resize: none;
}

/* desktop */
@media (min-width: 1025px) {
  .user_info_grid_edit {
    display: grid;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .store_name_edit {
    grid-column: 1;
    grid-row: 1;
  }
  .store_social_edit {
    grid-column: 1;
    grid-row: 2;
  }
  .store_about_edit {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
  }
  .store_hlekkur_edit {
    grid-column: 1 / span 2;
    grid-row: 5;
  }
  .store_img_edit {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
  }
  .input {
    font-size: 16px;
  }
  .edit_label {
    font-size: 18px;
  }
  .store_buttons_edit {
    margin-top: 2rem;
  }
  .store_button_cancel {
    font-size: 20px;
  }
  .store_button_confirm {
    font-size: 20px;
  }
}
