/* mobile first */
.burger_button {
  align-items: center;
  margin-right: 20px;
  padding-top: 20px;
  position: sticky;
  z-index: 10;
  background: transparent;
  float: right;
}
.burger_icon_close {
  color: #252525;
  width: 40px;
  height: 40px;
}
.burger_icon {
  color: #252525;
  width: 40px;
  height: 40px;
}
.sideMenu_icon {
  width: 30px;
  height: 26px;
  margin-top: auto;
  position: relative;
  padding-right: 5px;
  top: 5px;
  left: 5px;
}

.sideMenu_buttons {
  margin-bottom: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  width: 80%;
  border: none;
  color: #252525;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  padding: 10px;
  padding-bottom: 14px;
}
.logo_mobile {
  margin-top: 20px;
  margin-right: auto;
  font-size: 34px;
  line-height: 30px;
  font-weight: 500;
  margin-left: 3%;
  padding-top: 20px;
}
.sideMenu_utskra {
  margin-top: 10px;
  color: #252525;
  border: none;
  background: transparent;
  font-size: 18px;
  font-weight: 600;
}
/* only relavent for mobile  */
@media (max-width: 1025px) {
  .nav {
    padding-top: 3rem;
    margin-bottom: 1rem;
    align-items: center;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(153, 38, 153);
  }
  .sideMenu_extra_links_container li:first-child {
  margin-top: 10px;
  }
  .sideMenu_extra_links  {
    padding: 7px;
  }
 
 
}

/* desktop */
@media (min-width: 1025px) {
  .logo_mobile {
   display: none;
  }
  .sideMenu {
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin-top: 50px;
  }
  .sideMenu_utskra {
    display: none;
  }
  .burger_button {
    display: none;
  }
  .sideMenu_buttons {
    width: 200px;
    /* padding: 10px; */
    font-size: 20px;
    text-align: left;
  }
  .sideMenu_buttons:hover {
    box-shadow: 1px 1px 10px 0px rgba(143, 143, 143, 0.25);
  }
  .sideMenu_buttons:focus {
    background-color: #252525;
    color: #fff;
  }
  .sideMenu_extra_links_container {
    margin-top: 3rem;
  }
  .sideMenu_extra_links {
    list-style: none;
    color: #c2c2c2;
    margin-top: 10px;
    cursor: pointer;
  }
  .sideMenu_utskra {
    display: none;
  }
}
