.title {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
}
.yfirlit_grid {
  display: grid;
  padding-right: 20px;
  padding-left: 20px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-auto-flow: row;
  font-size: 14px;
  color: #fff;
  
}
.yfirlit_grid_box1 {
  background-color: #A590A9;
  border-radius: 4px;
  height: 100px;
  align-items: center;
  justify-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  margin: 5px;
}
.yfirlit_grid_box2 {
  background-color: #A590A9;
  border-radius: 4px;
  height: 100px;
}
.yfirlit_grid_box3 {
  background-color: #A590A9;
  border-radius: 4px;
  height: 100px;
}
.yfirlit_grid_box4 {
  background-color: #A590A9;
  border-radius: 4px;
  height: 100px;
}
.table_header {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
}
.table {
  margin: 0 auto;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #252525;
}
.popular_product {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
  border: black;
}
/* the conpoment container that the products are insidet */
/* mobile */
.component_container {
  margin: 0 auto;
  min-height: 100vh;
  margin-top: 40px;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 50px;
}
/* desktop */
@media (min-width: 1025px) {
  .component_container {
    width: 900px;
    height: 40rem;
    border-radius: 8px;
    z-index: 3;
    grid-column: 2 / span 10;
    grid-row: 1;
    margin-top: 6rem;
    overflow: hidden;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 20px;
  }
}

/* mobile */
@media (max-width: 1024px) {
  .title {
    display: flex;
    justify-content: center;
    padding: 5px 20px 5px 20px;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 30px;
    font-size: 20px;
    background-color: #f4f5f5;
    margin-bottom: 3rem;
  }
}

.totalSum {
  -webkit-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
