/* mobile first css */
.store_footer {
  margin-top: auto;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  width: 100%;
  z-index: 10;  
    color: rgb(211, 211, 211);
  }
  
  /* desktop */
  @media (min-width: 860px) {
  .store_footer {
    background-color: #121111d0;
    
    bottom: 0;
  }
}
  
  