/* mobile first */
.product_page {
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 3rem;
  min-height: 100vh;
}
.container {
  text-align: center;
}
.motekin {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.store_logo {
  max-height: 200px;
  max-width: 300px;
  margin-bottom: 2rem;
}
.store_social {
  color: #252525;
  margin-bottom: 1rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
}
.product {
  color: #252525;
  display: grid;
  margin-top: 1rem;
  justify-content: center;
}
.product_mainImg {
  max-height: 300px;
}
.product_info {
  display: grid;
  max-width: 500px;
  align-self: center;
  padding: 0 20px;
  text-align: center;
  grid-template-rows: auto auto auto auto auto;
}
.product_name {
font-size: 28px;
font-weight: 500;
padding-bottom: 10px;
}
.product_description {
  text-align: center;
  font-size: 20px;
}
.product_price {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0;
}
.product_buy_button {
   width: 300px;
   height: 50px;
   font-size: 20px;
   border-radius: 2px;
   background-color: #252525;
   color: #fff;
   margin: 0 auto;
   margin-bottom: 30px;
 }
 .product_buy_button:hover {
   background: #000000;
   font-weight: 900;
 }
 .deila_buttona {
   margin: 0 auto;
   text-align: center;
   color: #252525;
   border: 1px solid #252525;
   padding: 10px;
   font-size: 18px;
   width: 300px;
   height: 50px;
   background: transparent;
   align-self: start;
 }
 .deila_buttona:hover {
   color: #fff;
   background: #252525;
 }
 .back_button {
   margin-top: 5rem;
   background: transparent;
   text-align: center;
   color: #252525;
   border: none;
   padding: 10px;
   font-size: 18px;
   width: 40%;
   height: 50px;
 }
 .back_button:hover {
   background: #f7f7f7;
 }
 .share_buttons > * {
   margin: 5px;
 }
 .share_buttons {
   align-self: baseline;
   -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
 }
 @-webkit-keyframes slide-bottom {
   0% {
     -webkit-transform: translateY(-50);
     transform: translateY(-50);
   }
   100% {
     -webkit-transform: translateY(10px);
     transform: translateY(10px);
   }
 }

 /* only relevant for mobile */
 @media (max-width: 960px) {
  .product_name {
    margin-top: 20px;
    }}

/* desktop size */
@media (min-width: 960px) {
  .product {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .product_info {
    text-align: left;
  }
  .product_description {
    text-align: left;
  }
.product_buy_button {
  margin: 0;
  margin-bottom: 30px;
}
.deila_buttona {
margin: 0;
}
 

}
  

