.container {
  background-color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 14rem;
  min-height: 100vh;
  padding-top: 6rem;
  text-align: center;
}
/* store */
.store_img {
  max-height: 200px;
  margin-bottom: 3rem;
}
.store_title {
  color: #252525;
}
.share_button {
  color: #252525;
  border: 1px solid #252525;
  padding: 10px;
  font-size: 18px;
  width: 200px;
  background: transparent;
  margin-bottom: 3rem;
}
.share_button:hover {
  color: #fff;
  background: #252525;
}
.store_social {
  color: #252525;
  margin-bottom: 1rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
}
.store_bio {
  color: #252525;
  margin-bottom: 5%;
  font-family: Poppins;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}
.grid {
  background-color: #fff;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 6%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}


@media (max-width: 1210px) {
  .grid {
  display: grid;
  grid-template-columns: auto auto ;
  justify-content: center;
  }
  .product_img {
    width: 300px;
  }
  .product_price {
    padding-bottom: 1rem;
  }
}
@media (max-width: 668px) {
  .grid {
  display: grid;
  grid-template-columns: auto  ;
  justify-content: center;
  }
}
.product {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: grid;
  margin: 0 auto;
  width: 300px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2rem;
}
/* products */
.product_img {
cursor: pointer;
 max-width: 100%;
 max-height: 340px;
 padding-bottom: 10px;
}
.product_img:hover {
  opacity: 0.6;
  }
.product_name {
  font-weight: 100;
  font-size: 18px;
  color: #252525;
}
.product_price {
  color: #252525;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 2rem;
}


.share_buttons {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-50);
    transform: translateY(-50);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
