/* mobile first css */
.content {
  max-width: 100vw;
  margin: 0 auto;
}
.frontpageGrid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
}
.front_headline {
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
  width: 190px;
  font-weight: 600;
  font-style: italic;
  font-size: 50px;
  background-color: rgba(159, 113, 179, 0.521);
}
.front_headline_nr2 {
  margin: 0 auto;
  width: 350px;
  font-weight: 600;
  font-style: italic;
  font-size: 50px;
  background-color: rgba(159, 113, 179, 0.521);
}
.front_description {
  margin: 0 auto;
  margin-top: 1rem;
  font-style: italic;
  font-size: 16px;
  background-color: rgba(159, 113, 179, 0.521);
}
.nyskraGrid {
  color: rgb(159, 113, 179);
  margin: 0 auto;
}
.nyskraBtn {
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  padding: 16px;
  width: 50%;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 3px;
  color: #fff;
  background: rgb(159, 113, 179);
}
.nyskraBtn:hover {
  background: rgb(189, 134, 212);
}
.login_p {
  font-size: 16px;
  font-style: italic;
  margin: 0 auto;
  color: rgba(232, 213, 240, 0.726);
}

.login_button {
  color: white;
  opacity: 0.9;
}
.login_button:hover {
  color: white;
  transition: scale(0.1);
  color: rgb(189, 134, 212);
}

/* desktop  */
@media (min-width: 860px) {
  .frontpageGrid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .front_headline {
    margin-left: 180px;
    margin-bottom: 2rem;
    text-align: left;
    width: 230px;
    font-size: 70px;
  }
  .front_headline_nr2 {
    margin-left: 90px;
    width: 500px;
    font-size: 70px;
  }
  .front_description {
    width: 440px;
    font-size: 20px;
    margin-left: 280px;
  }
  .nyskraBtn {
    margin-top: 3rem;
    padding: 16px;
    width: 30%;
    font-size: 20px;
  }
  .login_p {
    font-size: 18px;
    padding: 3px;
    background-color: rgba(43, 38, 45, 0.425);
    color: #fff
  }
  .login_button {
    color: white;
    opacity: 0.9;
    transition: scale(0.1);
  }
}
