.dashboard_bg {
  background-color: #f4f5f5;
  height: 100vh;
  color: #252525;
}
@media (max-width: 1024px) {
  .dashboard_bg {
    background-color: #fff;
  }
}

/* style on the div that surounds each component */
/* 
@media (min-width: 1024px) {
  .component_container {
    background-color: rgb(227, 31, 31);
    width: 80%;
    min-width: 600px;
    height: 40rem;
    border-radius: 8px;
    z-index: 3;
    grid-column: 2 / span 10;
    grid-row: 1;
    margin-top: 6rem;
    margin-left: 20px;
  }
}

@media (max-width: 1024px) {
  .component_container {
    background-color: #fff;
    height: 100vh;
    margin-top: 40px;
    text-align: center;
  }
} */
@media (min-width: 1024px) {
  .sidemenu_container {
    /* grid-column: 1 / span 1;
    grid-row: 1; */
  }
}
@media (min-width: 1025px) {
  .dashboard_grid {
    display: grid;
  }
}
