.dashboardHeader {
    max-width: 1400px;
    height: 60px;
    color: 252525;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align:center;
    text-decoration: none;
    list-style: none;
  }
  @media (max-width: 1025px) {
    .dashboardHeader {
       display: none;
      }}

  .userName{
      margin-right: 30px;
  }
  .logo{
    padding-left: 20px;
    margin-right: auto;
    color: 252525;
    font-size: 30px;
    line-height: 36px;
}
