
  @media (min-width: 900px) {
  .container {
    margin-top: 50px;
    display: grid;
    grid-template-columns:  auto auto auto;
  }}

  .hafa_samaband_h1 {
    margin-top: 30px;
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    margin-bottom: 20px;
  }
  @media (min-width: 900px) {
    .hafa_samaband_h1 {
        font-size: 49px;
        max-width: 340px;
      }}

@media (min-width: 900px) {
      .contact_form {
          max-width: 520px;
          margin-top: 50px;
          margin-left: 10px;
    }}
    .contact_label{
      font-size: 22px;
      font-weight: 500;
      color: rgba(196, 196, 196, 0.48);
  }
    @media (min-width: 900px) {
  .contact_label{
      font-size: 28px;
      font-weight: 500;
      color: rgba(196, 196, 196, 0.48);
  }}
  .contact_input {
      outline: none;
      font-size: 24px;
      color: white;
      width: 100%;
      margin-bottom: 10px;
      background: none;
      border: none;
      border-bottom: 1px solid #f4f5f5bd;
      letter-spacing: 1px;
      line-height: 30px;
  }
  .contact_textarea {
      outline: none;
      font-size: 24px;
      color: white;
      width: 100%;
      background: none;
      border: none;
      border-bottom: 1px solid #f4f5f5bd;
      font-family: 'Poppins', sans-serif;
  }
  .contact_btn {
    height: 57px;
    width: 373px;
    border-radius: 4px;
    background: rgba(196, 196, 196, 0.48);
    border: 2px solid #F4F5F5;
    box-sizing: border-box;
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
    width: 100%;
  }
  .contact_btn:hover {
    background: rgba(196, 196, 196, 0.612);
  }
  