.mobile_bg_img {
  background-image: url(/hangers.jpeg);
  background-size: cover;
  filter: grayscale(var(--value, 10%)); 
  /* mask-image: linear-gradient(to bottom, transparent 10%, black); */
  height: 100vh;
}
