.mobile_bg_img {
  background-image: url(/hangers.jpeg);
  background-size: cover;
  height: 100vh;
}
.login__container {
  font-family: "Poppins", sans-serif;
  max-width: 90%;
  padding: 5%;
  height: auto;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #35353554;
  backdrop-filter: blur(5px);
}
.login__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.go_back_button {
  background: transparent;
  border: none;
  color: #f4f5f5;
  font-size: 30px;
  text-align: right;
  margin-bottom: 2rem;
}
.input {
  outline: none;
  font-size: 24px;
  font-weight: normal;
  color: #f4f5f5;
  width: 100%;
  margin-bottom: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #f4f5f5bd;
  letter-spacing: 2px;
  line-height: 30px;
  padding-left: 10px;
}
.label {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.url_container {
  display: flex;
}
.login__btn {
  border: 1px solid rgb(247, 212, 250);
  color: #fff;
  background: rgba(159, 113, 179, 0.907);
  width: 100%;
  height: 45px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center;
}
/* the small paragraph under the innskrá or nýskrá buttons on frontend index.ja and the modals */
.login_paragraph {
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
}
.login_footer {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}



/* desktop */
@media (min-width: 860px) {
  .login__container {
    width: 650px;
    margin-top: 40px;
  }
  .login_paragraph {
    font-size: 16px;
    margin-top: 30px;
  }
}
