.container {
  display: flex;
  justify-content: space-between;
  background-color: #252525;
  color: white;
  width: 100vw;
  height: 10vh;
  padding: 0 40px;
  padding-top: 3px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger__line {
  width: 18px;
  height: 3px;
  color: white;
  background-color: white;
  margin-bottom: 4px;
}

.hamburger__line2 {
  width: 30px;
  height: 3px;
  color: white;
  background-color: white;
  margin-bottom: 4px;
}
