/* mobile first css */
.nav {
  margin-top: 20px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo {
  margin-right: auto;
  color: #f4f5f5;
  font-size: 34px;
  line-height: 30px;
  font-weight: 500;
  margin-left: 3%;
}
.burger_button {
  margin-right: 20px;
  padding-top: 20px;
  position: sticky;
  z-index: 10;
  background: transparent;
}
.burger_icon_close {
  color: #252525;
  width: 40px;
  height: 40px;
}
.burger_icon {
  color: #f4f5f5;
  width: 40px;
  height: 40px;
}

/* BURGER navbar on mobile - styles for when the burger is open is in global.css */
@media (max-width: 860px) {
  .nav_link {
    margin-left: 12px;
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 500;
    font-size: 18px;
  }
  .nav_link:last-child {
    background: rgba(159, 113, 179, 0.907);
    border: 1px solid rgb(247, 212, 250);
    font-size: 18px;
    color: #f4f5f5;
    border-radius: 8px;
    padding: 12px 20px 12px 20px;
    margin-top: 40px;
    margin-right: 20%;
    margin-left: 20%;
    letter-spacing: 3px;
  }
}

/* desktop */
@media (min-width: 860px) {
  .burger_button {
    display: none;
  }
  .deskNav {
    width: 100%;
  }
  /* innskrá button in navbar on desktop */
  .nav_link:last-child {
    background-color: rgba(196, 196, 196, 0.147);
    border: 1px solid #f4f5f5;
    border-radius: 4px;
    padding: 12px 20px 12px 20px;
  }
  .nav_link:last-child:hover {
    background-color: rgba(196, 196, 196, 0.256);
  }
  .nav {
    padding-top: 2rem;
    padding-bottom: 3rem;
    align-items: flex-end;
    text-align: center;
    text-decoration: none;
    list-style: none;
  }
  .nav_link {
    list-style: none;
    display: inline;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
}
