

.error404{
    /*
    404
    color: whitesmoke;
    font-weight: 800;
    font-size: 40rem;
    opacity: 0.5;
    position: absolute;
    z-index:100;
    text-align: center; */
    position: absolute;
width: 1088px;
height: 50px;
z-index:100;
font-style: italic;
font-weight: 900;
font-size: 500px;
line-height: 788px;
text-align: center;
color: rgba(244, 245, 245, 0.6);
opacity: 0.5;

}

.errorText{

    /*

    text-align: center;
    color:white;
    font-size: 10em;
    margin-top: 15%; */
   
    position: absolute;
    width: 1028px;
    height: 135px;

    top: 400px;
    
  
    font-style: italic;
    font-weight: bold;
    font-size: 90px;
    line-height: 135px;
    
    /* bakgrunnur */
    
    color: #F4F5F5;
}
.content {



}

@media (max-width: 768px) {
    .error404 {
font-size:  300px; 
position: relative;
margin-right: 50px;

    }
  }

  @media (min-width: 1200px) {
      .error404{



      }
  }