
.container {
    background-color: white;
    width: 100vw;
    height: 100vh;
}
/* header */
.logo {
    color: #252525;
    padding: 20px;
}
/* store */
.store_img {
    width: 30%
}
.store_title {
    color: #252525;
}
.store_url {
    color: #252525;
}
.store_bio {
    color: #252525;
}
/* products */
.product_img{
    width: 20%;
  min-width: 200px;
}
.product_name {
    font-weight: 100;
    color: #252525;
}
.product_price {
    color: #252525;
    font-weight: 500;
}
.product {
    /* background-color: rgba(128, 128, 128, 0.287); */
    margin: 1.5rem;
    width: 40%;
    min-width: 300px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin: 4rem auto;
  }
.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (min-width: 1300px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
/* footer */
.footer {
    background-color:  #252525;
    flex: 1;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    margin: 0 auto;
}
.copyright {
    text-align: center;
}