@media (min-width: 900px) {
.container {
  display: grid;
  grid-template-columns:  auto auto auto;
}}
.umOkkur {
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
}
@media (min-width: 900px) {
.umOkkur {
    font-weight: 700;
    font-style: italic;
    font-size: 70px;
    grid-row-end: 1;
    max-width: 500px;
}}
.aukaP {
    margin-left: 60px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    max-width: 300px;
    margin-bottom: 50px;
}
@media (min-width: 900px) {
.aukaP {
    grid-row-end: 2;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}}
.umOkkurTexti {
    margin-left: 30px;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
}
@media (min-width: 900px) {
    .umOkkurTexti {
        margin-top: 60px;
        grid-row-end: 1;
        height: 90px;
        font-weight: 200;
        font-style: normal;
        font-size: 20px;
        line-height: 36px;
    }
  }

